
body{
    background-color: rgba(172, 170, 169, 0.267);
    margin: 1px;
}

h4,h5,p:not(.lead) {
    color: #434E5E;
}
/* classe pour aligner la ligne hr compétences */
.hrcomp { 
margin-top: 2rem;
}
/* classe pour aligner la ligne parcours pro */
.hrparc { 
    margin-top: 1rem;
    }

.linkedin{
    text-align: right;
}


.nom{
    margin: 10px;
}
.lead{
    margin: 10px;
}

